<div class="col-md-12 nav-bg">
  <div class="col-md-2 navbar">
    <!-- logo -->
    <div class="navbar col-md-2">
      <a class="navbar-item">
        <img class="logo" src="assets/img/light-bulb-logo.png">
      </a>
    </div>
    <div class="col-md-8 nav-content">
      <ul class="nav">
        <li><a routerLink="/home" routerLinkActive="active">HOME</a></li>
        <li><a routerLink="/portfolio" routerLinkActive="active">PORTFOLIO</a></li>
        <li><a routerLink="/login" routerLinkActive="active">LOGIN</a></li>
        <li><a routerLink="/registration" routerLinkActive="active">REGISTRATION</a></li>
      </ul>
    </div>
  </div>
</div>