<!-- Footer -->
<div class="page-footer font-inherit bg-warning pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h4 class="text-uppercase font-weight">Galance</h4>
          <p>{{galanceDetail}}</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h4 class="text-uppercase font-weight">Contact Us</h4>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">{{officialContactNo}}</a>
            </li>
            <li>
              <a href="#!">{{officialSite}}</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h4 class="text-uppercase font-weight">Join us on different plateforms</h4>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#!"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#!"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#!"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="#"> Angular Poc Demo by {{by}}</a>
    </div>
    <!-- Copyright -->
  
</div>
  <!-- Footer -->